.live {
    padding-top: 45px;
    margin-bottom: 40px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        & li {
            flex: 1 1 33.3333%;
            padding: 0 15px;
        }
    }
}

.live-block {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__heading {
        padding: 0 10px 15px 10px;
        height: 50px;
        color: $whiteColor;
        text-transform: uppercase;
        background-color: $primaryColor;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
    }

    &__italic {
        font-weight: 400;
        padding-left: 5px;
        font-style: italic;

        &:hover {
            text-decoration: underline;
        }
    }

    &__room {
        font-weight: 700;
        font-size: 11px;

        &:hover {
            text-decoration: underline;
        }

    }
    &__img {
        transition: all 0.5s ease-in-out;
        flex: 0 0 auto;
        overflow: hidden;

        & img {
            transition: all 0.5s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $secondaryColor;
    }
}
